@import '../styles/vars.scss';

footer {
	background-color: $bootstrapDark;
	color: #fff;
	margin-top: 20px;

	.link {
		color: $linkColor;
	}

	app-navbar {
		display: none;
		@media (min-width: $mediumScreenSize) {
			display: block;
		}
	}
}