<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img src="assets/images/logo-white.png" alt=""
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<app-navbar-link href="/" text="Home"></app-navbar-link>
				<app-navbar-link href="/about" text="About"></app-navbar-link>
				<app-navbar-link href="/projects" text="Projects"></app-navbar-link>
				<app-navbar-link href="/contact" text="Contact"></app-navbar-link>
			</ul>
		</div>
	</div>
</nav>
